# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
.dynamodb
src/webpack/config.json
src/swagger/_swagger.yaml
util/config.json
util/.secret.json
templates/swagger.yaml
dist/**
./src/gh-swagger-ui/swagger.yaml
./src/lambda/*.js
./src/lambda/*.js.map
./src/lambda/**/*.js
./src/lambda/**/*.js.map
./src/aws/**/*.js
./src/aws/**/*.js.map
./src/lambda/**/*.js
./src/lambda/**/*.js.map
